.copyrights {
  padding: 40px 0;
  background: #f6f6f6;
  
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
  }
}

.copyright {
  width: 80%;

  &__text {
    @include fontSize(9px);
    line-height: 0.9rem;
    color: $medium-grey;
  }
}

.complaints {
  width: 20%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 45px;
  }
}
