.filters {
  max-width: 1150px;
  margin: 0 auto;
  border-bottom: 1px solid $lightest-grey;
}

.filter {
  margin: 16px 0;

  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  @include fontSize(11px);
  color: $medium-grey;

  position: relative;

  &__links {
    display: flex;
    padding: 0 8px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 9px;
    }

    &::after {
      content: '';
      position: absolute;
      margin: 0 auto;
    }

    span {
      @include fontSize(11px);
    }

    img {
      width: 10px;
      margin-left: 12px;
    }
  }
}