.navbar {
  border-bottom: 1px solid $lightest-grey;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__button {
      &--open, &--close {
        display: none;
        place-items: center;
        width: 35px;
        border: none;
        background: none;

        color: $medium-grey;
        @include fontSize(10px);

        @include tablet {
          display: flex;
          flex-direction: column;
        }

        @include mobile {
          display: flex;
          flex-direction: column;
        }

        img {
          width: 100%;
        }
      }

      &--hidden {
        display: block;

        @include tablet {
          display: none;
        }

        @include mobile {
          display: none;
        }
      }
    }

    &__title {
      text-align: center;
      margin: 12px 0;

      &--riachuelo {
        display: block;
        @include mobile {
          display: none;
        }
        @include tablet {
          display: none;
        }
      }

      &--rchlo {
        display: none;
        @include mobile {
          display: block;
        }
        @include tablet {
          display: block;
        }
      }
    }
  }

  &__input {
    padding: 8px 0 8px 40px;
    margin: 12px 0;

    height: 40px;

    border: 1px solid $light-grey;
    border-radius: 4px;

    background: url(../assets/loupe.svg) no-repeat scroll 12px 10px;
    background-size: 16px;

    &:hover {
      border: 1px solid $dark-grey;
    }

    &::placeholder {
      color: $light-grey;
      
      @include fontSize(14px);
    }
  }

  .menu {
    &__list {
      display: flex;
      justify-content: space-between;

      @include tablet {
        display: none;
      }

      @include mobile {
        display: none;
      }
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      @include fontSize(12.5px);
      color: $dark-grey;
      font-weight: 600;

      &:hover {
        border-bottom: 2px solid $dark-grey;
        padding-bottom: 8px;
      }
    }
  }
}