.conteudo {
  display: flex;
}

.conteudo-principal {
  flex-grow: 3;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primaria: #58a4b0;
  --secundaria: #373f51;
  --secundaria-ativa: #ccc;
  --fundo: #fff;
  --fundo-detalhes: #ececec;
}