.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalhoPrincipal-nav {
  display: flex;
}

/* footer */
.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

/* input e button do form no footer */
.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

/* lista de cursos */
.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;

  /* discordo kkk - corrigir - seguindo o curso pra nao quebrar */
  height: 250px;
  flex-wrap: wrap;
}